.gitignore
.idea/
/Docs/Doxygen/html/
/Data/imgui.ini

/Binaries/
cmake-*
out/
*.dll
*.lib
*.exe
*.obj
!/data/models/bunny.obj
!/data/models/monkey.obj
!/data/models/teapot.obj
/CmakeOutputDebug/
Data/imgui.ini
.vs/
