[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
	ignore = dirty
[submodule "Dependencies/gtest"]
	path = Dependencies/gtest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "Dependencies/portable-file-dialogs"]
	path = Dependencies/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
	ignore = dirty
[submodule "Dependencies/yaml-cpp"]
	path = Dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
[submodule "Dependencies/imgui_markdown_extended"]
	path = Dependencies/imgui_markdown_extended
	url = https://github.com/Mizumaky/imgui_markdown_extended
[submodule "Dependencies/magic_enum"]
	path = Dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "Dependencies/sol2"]
	path = Dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
	ignore = dirty
[submodule "Dependencies/lua/lua"]
	path = Dependencies/lua/lua
	url = https://github.com/lua/lua.git
[submodule "Dependencies/ImGuizmo/ImGuizmo"]
	path = Dependencies/ImGuizmo/ImGuizmo
	url = https://github.com/xDUDSSx/ImGuizmo.git
[submodule "Dependencies/rttr"]
	path = Dependencies/rttr
	url = https://github.com/rttrorg/rttr.git
