name: Release
on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    name: Release
    strategy:
      matrix:
        # kind: ['Linux', 'Windows', 'MacOS']
        kind: ['Linux', 'Windows']
        include:
          - kind: 'Linux'
            os: ubuntu-latest
          - kind: 'Windows'
            os: windows-latest
          # - kind: 'MacOS'
          #   os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Build app
        uses: ./.github/actions/build
        with:
          target: 'I3T'
          cmake_build_type: 'RelWithDebInfo'
          jobs: '2'

      - name: Create bundle
        shell: bash
        run: |
          bash Scripts/CreateBundle.sh --suffix ${{ matrix.kind }} RelWithDebInfo

      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: "I3T*.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  wasm:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Setup environment
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake emscripten
          emcmake cmake -B build -S . -DI3T_BUILD_WASM=1
          cmake --build build --target I3T -j 3